html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 14px;
  font-family: arial, "Open Sans", sans-serif;
  line-height: 1.42857;
  font-weight: normal;
}
* {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/********* HTML5 display definitions ********/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
[hidden],
template {
  display: none;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
/********* TABLE ********/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table td,
table th {
  text-align: left;
}
/********* IMG ********/
img {
  border: 0;
}
/********* LINK ********/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/************************/
hr {
  height: 1px;
  margin: 1em 0;
  overflow: hidden;
  border: 0;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button[disabled],
input[disabled],
textarea[disabled] {
  cursor: default;
}
button,
textarea,
input,
.form-element,
.table,
.input-group {
  line-height: normal;
}
input.block,
.button.block,
textarea.block,
select.block {
  width: 100%;
}
.button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  line-height: 1.1;
}
h1,
.h1 {
  font-size: 34px;
}
h2,
.h2 {
  font-size: 28px;
}
h3,
.h3 {
  font-size: 22px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 65%;
}
small,
.small {
  font-size: 13px;
}
.smaller {
  font-size: 11px;
}
p,
.p {
  margin-bottom: 10px;
}
dl dt {
  font-weight: bold;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 1em;
}
ul ul,
ol ul,
ul ol,
ol ol {
  padding-left: 2em;
  margin-bottom: 0;
}
.alert {
  padding: 15px;
  border: solid 1px;
  margin-bottom: 1em;
  transition: opacity 0.5s, height 0.5s;
  overflow: hidden;
}
.alert.dismissible button.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  border: 0;
  background: none;
  cursor: pointer;
  position: relative;
  opacity: 0.3;
  top: -7.5px;
  right: -7.5px;
}
.alert.dismissible button.close:hover {
  opacity: 0.8;
}
blockquote h2,
blockquote h3,
blockquote h4,
.alert h2,
.alert h3,
.alert h4 {
  margin-top: 0;
}
blockquote p,
.alert p {
  margin-bottom: 0;
}
blockquote {
  border-left: solid 6px #CCCCCC;
  padding: 15px;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.grid {
  clear: both;
}
ol.grid,
ul.grid {
  display: block;
  list-style-type: none;
}
ol.grid li,
ul.grid li {
  display: block;
}
.grid.spacing-2 {
  margin-left: -2px;
  margin-top: -2px;
}
.grid.spacing-3 {
  margin-left: -3px;
  margin-top: -3px;
}
.grid.spacing-4 {
  margin-left: -4px;
  margin-top: -4px;
}
.grid.spacing-5 {
  margin-left: -5px;
  margin-top: -5px;
}
.grid.spacing-6 {
  margin-left: -6px;
  margin-top: -6px;
}
.grid.spacing-8 {
  margin-left: -8px;
  margin-top: -8px;
}
.grid.spacing-10 {
  margin-left: -10px;
  margin-top: -10px;
}
.grid.spacing-12 {
  margin-left: -12px;
  margin-top: -12px;
}
.grid.spacing-15 {
  margin-left: -15px;
  margin-top: -15px;
}
.grid.spacing-18 {
  margin-left: -18px;
  margin-top: -18px;
}
.grid.spacing-20 {
  margin-left: -20px;
  margin-top: -20px;
}
.grid.spacing-25 {
  margin-left: -25px;
  margin-top: -25px;
}
.grid.spacing-2 > * {
  padding-left: 2px;
  padding-top: 2px;
}
.grid.spacing-3 > * {
  padding-left: 3px;
  padding-top: 3px;
}
.grid.spacing-4 > * {
  padding-left: 4px;
  padding-top: 4px;
}
.grid.spacing-5 > * {
  padding-left: 5px;
  padding-top: 5px;
}
.grid.spacing-6 > * {
  padding-left: 6px;
  padding-top: 6px;
}
.grid.spacing-8 > * {
  padding-left: 8px;
  padding-top: 8px;
}
.grid.spacing-10 > * {
  padding-left: 10px;
  padding-top: 10px;
}
.grid.spacing-12 > * {
  padding-left: 12px;
  padding-top: 12px;
}
.grid.spacing-15 > * {
  padding-left: 15px;
  padding-top: 15px;
}
.grid.spacing-18 > * {
  padding-left: 18px;
  padding-top: 18px;
}
.grid.spacing-20 > * {
  padding-left: 20px;
  padding-top: 20px;
}
.grid.spacing-25 > * {
  padding-left: 25px;
  padding-top: 25px;
}
.grid:before,
.grid:after {
  display: table;
  content: " ";
  height: 0;
}
.grid:after {
  clear: both;
}
.grid > * {
  float: left;
}
.cols-10 > * {
  width: 10%;
}
.cols-9 > * {
  width: 11.11111111111111%;
}
.cols-8 > * {
  width: 12.5%;
}
.cols-7 > * {
  width: 14.285714285714%;
}
.cols-6 > * {
  width: 16.666666666667%;
}
.cols-5 > * {
  width: 20%;
}
.cols-4 > * {
  width: 25%;
}
.cols-3 > * {
  width: 33.333333333333%;
}
.cols-2 > * {
  width: 50%;
}
.cols-1 > * {
  width: 100%;
}
.cols-10 > .colspan-10 {
  width: 100%;
}
.cols-10 > .colspan-9 {
  width: 90%;
}
.cols-10 > .colspan-8 {
  width: 80%;
}
.cols-10 > .colspan-7 {
  width: 70%;
}
.cols-10 > .colspan-6 {
  width: 60%;
}
.cols-10 > .colspan-5 {
  width: 50%;
}
.cols-10 > .colspan-4 {
  width: 40%;
}
.cols-10 > .colspan-3 {
  width: 30%;
}
.cols-10 > .colspan-2 {
  width: 20%;
}
.cols-9 > .colspan-10,
.cols-9 > .colspan-9 {
  width: 100%;
}
.cols-9 > .colspan-8 {
  width: 88.88888888888889%;
}
.cols-9 > .colspan-7 {
  width: 77.77777777777778%;
}
.cols-9 > .colspan-6 {
  width: 66.66666666666667%;
}
.cols-9 > .colspan-5 {
  width: 55.55555555555556%;
}
.cols-9 > .colspan-4 {
  width: 44.44444444444444%;
}
.cols-9 > .colspan-3 {
  width: 33.33333333333333%;
}
.cols-9 > .colspan-2 {
  width: 22.22222222222222%;
}
.cols-8 > .colspan-10,
.cols-8 > .colspan-9,
.cols-8 > .colspan-8 {
  width: 100%;
}
.cols-8 > .colspan-7 {
  width: 87.5%;
}
.cols-8 > .colspan-6 {
  width: 75%;
}
.cols-8 > .colspan-5 {
  width: 62.5%;
}
.cols-8 > .colspan-4 {
  width: 50%;
}
.cols-8 > .colspan-3 {
  width: 37.5%;
}
.cols-8 > .colspan-2 {
  width: 25%;
}
.cols-7 > .colspan-10,
.cols-7 > .colspan-9,
.cols-7 > .colspan-8,
.cols-7 > .colspan-7 {
  width: 100%;
}
.cols-7 > .colspan-6 {
  width: 85.714285714286%;
}
.cols-7 > .colspan-5 {
  width: 71.428571428571%;
}
.cols-7 > .colspan-4 {
  width: 57.142857142857%;
}
.cols-7 > .colspan-3 {
  width: 42.857142857143%;
}
.cols-7 > .colspan-2 {
  width: 28.571428571429%;
}
.cols-6 > .colspan-10,
.cols-6 > .colspan-9,
.cols-6 > .colspan-8,
.cols-6 > .colspan-7,
.cols-6 > .colspan-6 {
  width: 100%;
}
.cols-6 > .colspan-5 {
  width: 83.333333333333%;
}
.cols-6 > .colspan-4 {
  width: 66.666666666667%;
}
.cols-6 > .colspan-3 {
  width: 50%;
}
.cols-6 > .colspan-2 {
  width: 33.333333333333%;
}
.cols-5 > .colspan-10,
.cols-5 > .colspan-9,
.cols-5 > .colspan-8,
.cols-5 > .colspan-7,
.cols-5 > .colspan-6,
.cols-5 > .colspan-5 {
  width: 100%;
}
.cols-5 > .colspan-4 {
  width: 80%;
}
.cols-5 > .colspan-3 {
  width: 60%;
}
.cols-5 > .colspan-2 {
  width: 40%;
}
.cols-4 > .colspan-10,
.cols-4 > .colspan-9,
.cols-4 > .colspan-8,
.cols-4 > .colspan-7,
.cols-4 > .colspan-6,
.cols-4 > .colspan-5,
.cols-4 > .colspan-4 {
  width: 100%;
}
.cols-4 > .colspan-3 {
  width: 75%;
}
.cols-4 > .colspan-2 {
  width: 50%;
}
.cols-3 > .colspan-10,
.cols-3 > .colspan-9,
.cols-3 > .colspan-8,
.cols-3 > .colspan-7,
.cols-3 > .colspan-6,
.cols-3 > .colspan-5,
.cols-3 > .colspan-4,
.cols-3 > .colspan-3 {
  width: 100%;
}
.cols-3 > .colspan-2 {
  width: 66.666666666667%;
}
.cols-2 > .colspan-10,
.cols-2 > .colspan-9,
.cols-2 > .colspan-8,
.cols-2 > .colspan-7,
.cols-2 > .colspan-6,
.cols-2 > .colspan-5,
.cols-2 > .colspan-4,
.cols-2 > .colspan-3,
.cols-2 > .colspan-2,
.cols-1 > .colspan-10,
.cols-1 > .colspan-9,
.cols-1 > .colspan-8,
.cols-1 > .colspan-7,
.cols-1 > .colspan-6,
.cols-1 > .colspan-5,
.cols-1 > .colspan-4,
.cols-1 > .colspan-3,
.cols-1 > .colspan-2 {
  width: 100%;
}
@media (max-width: 1024px) {
  .cols-lg-10 > * {
    width: 10%;
  }
  .cols-lg-9 > * {
    width: 11.11111111111111%;
  }
  .cols-lg-8 > * {
    width: 12.5%;
  }
  .cols-lg-7 > * {
    width: 14.285714285714%;
  }
  .cols-lg-6 > * {
    width: 16.666666666667%;
  }
  .cols-lg-5 > * {
    width: 20%;
  }
  .cols-lg-4 > * {
    width: 25%;
  }
  .cols-lg-3 > * {
    width: 33.333333333333%;
  }
  .cols-lg-2 > * {
    width: 50%;
  }
  .cols-lg-1 > * {
    width: 100%;
  }
  .cols-lg-10 > .colspan-10 {
    width: 100%;
  }
  .cols-lg-10 > .colspan-9 {
    width: 90%;
  }
  .cols-lg-10 > .colspan-8 {
    width: 80%;
  }
  .cols-lg-10 > .colspan-7 {
    width: 70%;
  }
  .cols-lg-10 > .colspan-6 {
    width: 60%;
  }
  .cols-lg-10 > .colspan-5 {
    width: 50%;
  }
  .cols-lg-10 > .colspan-4 {
    width: 40%;
  }
  .cols-lg-10 > .colspan-3 {
    width: 30%;
  }
  .cols-lg-10 > .colspan-2 {
    width: 20%;
  }
  .cols-lg-9 > .colspan-10,
  .cols-lg-9 > .colspan-9 {
    width: 100%;
  }
  .cols-lg-9 > .colspan-8 {
    width: 88.88888888888889%;
  }
  .cols-lg-9 > .colspan-7 {
    width: 77.77777777777778%;
  }
  .cols-lg-9 > .colspan-6 {
    width: 66.66666666666667%;
  }
  .cols-lg-9 > .colspan-5 {
    width: 55.55555555555556%;
  }
  .cols-lg-9 > .colspan-4 {
    width: 44.44444444444444%;
  }
  .cols-lg-9 > .colspan-3 {
    width: 33.33333333333333%;
  }
  .cols-lg-9 > .colspan-2 {
    width: 22.22222222222222%;
  }
  .cols-lg-8 > .colspan-10,
  .cols-lg-8 > .colspan-9,
  .cols-lg-8 > .colspan-8 {
    width: 100%;
  }
  .cols-lg-8 > .colspan-7 {
    width: 87.5%;
  }
  .cols-lg-8 > .colspan-6 {
    width: 75%;
  }
  .cols-lg-8 > .colspan-5 {
    width: 62.5%;
  }
  .cols-lg-8 > .colspan-4 {
    width: 50%;
  }
  .cols-lg-8 > .colspan-3 {
    width: 37.5%;
  }
  .cols-lg-8 > .colspan-2 {
    width: 25%;
  }
  .cols-lg-7 > .colspan-10,
  .cols-lg-7 > .colspan-9,
  .cols-lg-7 > .colspan-8,
  .cols-lg-7 > .colspan-7 {
    width: 100%;
  }
  .cols-lg-7 > .colspan-6 {
    width: 85.714285714286%;
  }
  .cols-lg-7 > .colspan-5 {
    width: 71.428571428571%;
  }
  .cols-lg-7 > .colspan-4 {
    width: 57.142857142857%;
  }
  .cols-lg-7 > .colspan-3 {
    width: 42.857142857143%;
  }
  .cols-lg-7 > .colspan-2 {
    width: 28.571428571429%;
  }
  .cols-lg-6 > .colspan-10,
  .cols-lg-6 > .colspan-9,
  .cols-lg-6 > .colspan-8,
  .cols-lg-6 > .colspan-7,
  .cols-lg-6 > .colspan-6 {
    width: 100%;
  }
  .cols-lg-6 > .colspan-5 {
    width: 83.333333333333%;
  }
  .cols-lg-6 > .colspan-4 {
    width: 66.666666666667%;
  }
  .cols-lg-6 > .colspan-3 {
    width: 50%;
  }
  .cols-lg-6 > .colspan-2 {
    width: 33.333333333333%;
  }
  .cols-lg-5 > .colspan-10,
  .cols-lg-5 > .colspan-9,
  .cols-lg-5 > .colspan-8,
  .cols-lg-5 > .colspan-7,
  .cols-lg-5 > .colspan-6,
  .cols-lg-5 > .colspan-5 {
    width: 100%;
  }
  .cols-lg-5 > .colspan-4 {
    width: 80%;
  }
  .cols-lg-5 > .colspan-3 {
    width: 60%;
  }
  .cols-lg-5 > .colspan-2 {
    width: 40%;
  }
  .cols-lg-4 > .colspan-10,
  .cols-lg-4 > .colspan-9,
  .cols-lg-4 > .colspan-8,
  .cols-lg-4 > .colspan-7,
  .cols-lg-4 > .colspan-6,
  .cols-lg-4 > .colspan-5,
  .cols-lg-4 > .colspan-4 {
    width: 100%;
  }
  .cols-lg-4 > .colspan-3 {
    width: 75%;
  }
  .cols-lg-4 > .colspan-2 {
    width: 50%;
  }
  .cols-lg-3 > .colspan-10,
  .cols-lg-3 > .colspan-9,
  .cols-lg-3 > .colspan-8,
  .cols-lg-3 > .colspan-7,
  .cols-lg-3 > .colspan-6,
  .cols-lg-3 > .colspan-5,
  .cols-lg-3 > .colspan-4,
  .cols-lg-3 > .colspan-3 {
    width: 100%;
  }
  .cols-lg-3 > .colspan-2 {
    width: 66.666666666667%;
  }
  .cols-lg-2 > .colspan-10,
  .cols-lg-2 > .colspan-9,
  .cols-lg-2 > .colspan-8,
  .cols-lg-2 > .colspan-7,
  .cols-lg-2 > .colspan-6,
  .cols-lg-2 > .colspan-5,
  .cols-lg-2 > .colspan-4,
  .cols-lg-2 > .colspan-3,
  .cols-lg-2 > .colspan-2,
  .cols-lg-1 > .colspan-10,
  .cols-lg-1 > .colspan-9,
  .cols-lg-1 > .colspan-8,
  .cols-lg-1 > .colspan-7,
  .cols-lg-1 > .colspan-6,
  .cols-lg-1 > .colspan-5,
  .cols-lg-1 > .colspan-4,
  .cols-lg-1 > .colspan-3,
  .cols-lg-1 > .colspan-2 {
    width: 100%;
  }
}
/*****************/
@media (max-width: 768px) {
  .cols-md-10 > * {
    width: 10%;
  }
  .cols-md-9 > * {
    width: 11.11111111111111%;
  }
  .cols-md-8 > * {
    width: 12.5%;
  }
  .cols-md-7 > * {
    width: 14.285714285714%;
  }
  .cols-md-6 > * {
    width: 16.666666666667%;
  }
  .cols-md-5 > * {
    width: 20%;
  }
  .cols-md-4 > * {
    width: 25%;
  }
  .cols-md-3 > * {
    width: 33.333333333333%;
  }
  .cols-md-2 > * {
    width: 50%;
  }
  .cols-md-1 > * {
    width: 100%;
  }
  .cols-md-2 > .colspan-10,
  .cols-md-2 > .colspan-9,
  .cols-md-2 > .colspan-8,
  .cols-md-2 > .colspan-7,
  .cols-md-2 > .colspan-6,
  .cols-md-2 > .colspan-5,
  .cols-md-2 > .colspan-4,
  .cols-md-2 > .colspan-3 {
    width: 100%;
  }
  .cols-md-10 > .colspan-9 {
    width: 90%;
  }
  .cols-md-10 > .colspan-8 {
    width: 80%;
  }
  .cols-md-10 > .colspan-7 {
    width: 70%;
  }
  .cols-md-10 > .colspan-6 {
    width: 60%;
  }
  .cols-md-10 > .colspan-5 {
    width: 50%;
  }
  .cols-md-10 > .colspan-4 {
    width: 40%;
  }
  .cols-md-10 > .colspan-3 {
    width: 30%;
  }
  .cols-md-10 > .colspan-2 {
    width: 20%;
  }
  .cols-md-2 > .colspan-10,
  .cols-md-2 > .colspan-9,
  .cols-md-2 > .colspan-8,
  .cols-md-2 > .colspan-7,
  .cols-md-2 > .colspan-6,
  .cols-md-2 > .colspan-5,
  .cols-md-2 > .colspan-4,
  .cols-md-2 > .colspan-3 {
    width: 100%;
  }
  .cols-md-9 > .colspan-8 {
    width: 88.88888888888889%;
  }
  .cols-md-9 > .colspan-7 {
    width: 77.77777777777778%;
  }
  .cols-md-9 > .colspan-6 {
    width: 66.66666666666667%;
  }
  .cols-md-9 > .colspan-5 {
    width: 55.55555555555556%;
  }
  .cols-md-9 > .colspan-4 {
    width: 44.44444444444444%;
  }
  .cols-md-9 > .colspan-3 {
    width: 33.33333333333333%;
  }
  .cols-md-9 > .colspan-2 {
    width: 22.22222222222222%;
  }
  .cols-md-2 > .colspan-10,
  .cols-md-2 > .colspan-9,
  .cols-md-2 > .colspan-8,
  .cols-md-2 > .colspan-7,
  .cols-md-2 > .colspan-6,
  .cols-md-2 > .colspan-5,
  .cols-md-2 > .colspan-4,
  .cols-md-2 > .colspan-3 {
    width: 100%;
  }
  .cols-md-8 > .colspan-7 {
    width: 87.5%;
  }
  .cols-md-8 > .colspan-6 {
    width: 75%;
  }
  .cols-md-8 > .colspan-5 {
    width: 62.5%;
  }
  .cols-md-8 > .colspan-4 {
    width: 50%;
  }
  .cols-md-8 > .colspan-3 {
    width: 37.5%;
  }
  .cols-md-8 > .colspan-2 {
    width: 25%;
  }
  .cols-md-2 > .colspan-10,
  .cols-md-2 > .colspan-9,
  .cols-md-2 > .colspan-8,
  .cols-md-2 > .colspan-7,
  .cols-md-2 > .colspan-6,
  .cols-md-2 > .colspan-5,
  .cols-md-2 > .colspan-4,
  .cols-md-2 > .colspan-3 {
    width: 100%;
  }
  .cols-md-7 > .colspan-6 {
    width: 85.714285714286%;
  }
  .cols-md-7 > .colspan-5 {
    width: 71.428571428571%;
  }
  .cols-md-7 > .colspan-4 {
    width: 57.142857142857%;
  }
  .cols-md-7 > .colspan-3 {
    width: 42.857142857143%;
  }
  .cols-md-7 > .colspan-2 {
    width: 28.571428571429%;
  }
  .cols-md-2 > .colspan-10,
  .cols-md-2 > .colspan-9,
  .cols-md-2 > .colspan-8,
  .cols-md-2 > .colspan-7,
  .cols-md-2 > .colspan-6,
  .cols-md-2 > .colspan-5,
  .cols-md-2 > .colspan-4,
  .cols-md-2 > .colspan-3 {
    width: 100%;
  }
  .cols-md-6 > .colspan-5 {
    width: 83.333333333333%;
  }
  .cols-md-6 > .colspan-4 {
    width: 66.666666666667%;
  }
  .cols-md-6 > .colspan-3 {
    width: 50%;
  }
  .cols-md-6 > .colspan-2 {
    width: 33.333333333333%;
  }
  .cols-md-2 > .colspan-10,
  .cols-md-2 > .colspan-9,
  .cols-md-2 > .colspan-8,
  .cols-md-2 > .colspan-7,
  .cols-md-2 > .colspan-6,
  .cols-md-2 > .colspan-5,
  .cols-md-2 > .colspan-4,
  .cols-md-2 > .colspan-3 {
    width: 100%;
  }
  .cols-md-5 > .colspan-4 {
    width: 80%;
  }
  .cols-md-5 > .colspan-3 {
    width: 60%;
  }
  .cols-md-5 > .colspan-2 {
    width: 40%;
  }
  .cols-md-2 > .colspan-10,
  .cols-md-2 > .colspan-9,
  .cols-md-2 > .colspan-8,
  .cols-md-2 > .colspan-7,
  .cols-md-2 > .colspan-6,
  .cols-md-2 > .colspan-5,
  .cols-md-2 > .colspan-4,
  .cols-md-2 > .colspan-3 {
    width: 100%;
  }
  .cols-md-4 > .colspan-3 {
    width: 75%;
  }
  .cols-md-4 > .colspan-2 {
    width: 50%;
  }
  .cols-md-2 > .colspan-10,
  .cols-md-2 > .colspan-9,
  .cols-md-2 > .colspan-8,
  .cols-md-2 > .colspan-7,
  .cols-md-2 > .colspan-6,
  .cols-md-2 > .colspan-5,
  .cols-md-2 > .colspan-4,
  .cols-md-2 > .colspan-3 {
    width: 100%;
  }
  .cols-md-3 > .colspan-2 {
    width: 66.666666666667%;
  }
  .cols-md-2 > .colspan-10,
  .cols-md-2 > .colspan-9,
  .cols-md-2 > .colspan-8,
  .cols-md-2 > .colspan-7,
  .cols-md-2 > .colspan-6,
  .cols-md-2 > .colspan-5,
  .cols-md-2 > .colspan-4,
  .cols-md-2 > .colspan-3,
  .cols-md-2 > .colspan-2,
  .cols-md-1 > .colspan-10,
  .cols-md-1 > .colspan-9,
  .cols-md-1 > .colspan-8,
  .cols-md-1 > .colspan-7,
  .cols-md-1 > .colspan-6,
  .cols-md-1 > .colspan-5,
  .cols-md-1 > .colspan-4,
  .cols-md-1 > .colspan-3,
  .cols-md-1 > .colspan-2 {
    width: 100%;
  }
}
/*****************/
@media (max-width: 520px) {
  .cols-sm-10 > * {
    width: 10%;
  }
  .cols-sm-9 > * {
    width: 11.11111111111111%;
  }
  .cols-sm-8 > * {
    width: 12.5%;
  }
  .cols-sm-7 > * {
    width: 14.285714285714%;
  }
  .cols-sm-6 > * {
    width: 16.666666666667%;
  }
  .cols-sm-5 > * {
    width: 20%;
  }
  .cols-sm-4 > * {
    width: 25%;
  }
  .cols-sm-3 > * {
    width: 33.333333333333%;
  }
  .cols-sm-2 > * {
    width: 50%;
  }
  .cols-sm-1 > * {
    width: 100%;
  }
  .cols-sm-10 > .colspan-10 {
    width: 100%;
  }
  .cols-sm-10 > .colspan-9 {
    width: 90%;
  }
  .cols-sm-10 > .colspan-8 {
    width: 80%;
  }
  .cols-sm-10 > .colspan-7 {
    width: 70%;
  }
  .cols-sm-10 > .colspan-6 {
    width: 60%;
  }
  .cols-sm-10 > .colspan-5 {
    width: 50%;
  }
  .cols-sm-10 > .colspan-4 {
    width: 40%;
  }
  .cols-sm-10 > .colspan-3 {
    width: 30%;
  }
  .cols-sm-10 > .colspan-2 {
    width: 20%;
  }
  .cols-sm-9 > .colspan-10,
  .cols-sm-9 > .colspan-9 {
    width: 100%;
  }
  .cols-sm-9 > .colspan-8 {
    width: 88.88888888888889%;
  }
  .cols-sm-9 > .colspan-7 {
    width: 77.77777777777778%;
  }
  .cols-sm-9 > .colspan-6 {
    width: 66.66666666666667%;
  }
  .cols-sm-9 > .colspan-5 {
    width: 55.55555555555556%;
  }
  .cols-sm-9 > .colspan-4 {
    width: 44.44444444444444%;
  }
  .cols-sm-9 > .colspan-3 {
    width: 33.33333333333333%;
  }
  .cols-sm-9 > .colspan-2 {
    width: 22.22222222222222%;
  }
  .cols-sm-8 > .colspan-10,
  .cols-sm-8 > .colspan-9,
  .cols-sm-8 > .colspan-8 {
    width: 100%;
  }
  .cols-sm-8 > .colspan-7 {
    width: 87.5%;
  }
  .cols-sm-8 > .colspan-6 {
    width: 75%;
  }
  .cols-sm-8 > .colspan-5 {
    width: 62.5%;
  }
  .cols-sm-8 > .colspan-4 {
    width: 50%;
  }
  .cols-sm-8 > .colspan-3 {
    width: 37.5%;
  }
  .cols-sm-8 > .colspan-2 {
    width: 25%;
  }
  .cols-sm-7 > .colspan-10,
  .cols-sm-7 > .colspan-9,
  .cols-sm-7 > .colspan-8,
  .cols-sm-7 > .colspan-7 {
    width: 100%;
  }
  .cols-sm-7 > .colspan-6 {
    width: 85.714285714286%;
  }
  .cols-sm-7 > .colspan-5 {
    width: 71.428571428571%;
  }
  .cols-sm-7 > .colspan-4 {
    width: 57.142857142857%;
  }
  .cols-sm-7 > .colspan-3 {
    width: 42.857142857143%;
  }
  .cols-sm-7 > .colspan-2 {
    width: 28.571428571429%;
  }
  .cols-sm-6 > .colspan-10,
  .cols-sm-6 > .colspan-9,
  .cols-sm-6 > .colspan-8,
  .cols-sm-6 > .colspan-7,
  .cols-sm-6 > .colspan-6 {
    width: 100%;
  }
  .cols-sm-6 > .colspan-5 {
    width: 83.333333333333%;
  }
  .cols-sm-6 > .colspan-4 {
    width: 66.666666666667%;
  }
  .cols-sm-6 > .colspan-3 {
    width: 50%;
  }
  .cols-sm-6 > .colspan-2 {
    width: 33.333333333333%;
  }
  .cols-sm-5 > .colspan-10,
  .cols-sm-5 > .colspan-9,
  .cols-sm-5 > .colspan-8,
  .cols-sm-5 > .colspan-7,
  .cols-sm-5 > .colspan-6,
  .cols-sm-5 > .colspan-5 {
    width: 100%;
  }
  .cols-sm-5 > .colspan-4 {
    width: 80%;
  }
  .cols-sm-5 > .colspan-3 {
    width: 60%;
  }
  .cols-sm-5 > .colspan-2 {
    width: 40%;
  }
  .cols-sm-4 > .colspan-10,
  .cols-sm-4 > .colspan-9,
  .cols-sm-4 > .colspan-8,
  .cols-sm-4 > .colspan-7,
  .cols-sm-4 > .colspan-6,
  .cols-sm-4 > .colspan-5,
  .cols-sm-4 > .colspan-4 {
    width: 100%;
  }
  .cols-sm-4 > .colspan-3 {
    width: 75%;
  }
  .cols-sm-4 > .colspan-2 {
    width: 50%;
  }
  .cols-sm-3 > .colspan-10,
  .cols-sm-3 > .colspan-9,
  .cols-sm-3 > .colspan-8,
  .cols-sm-3 > .colspan-7,
  .cols-sm-3 > .colspan-6,
  .cols-sm-3 > .colspan-5,
  .cols-sm-3 > .colspan-4,
  .cols-sm-3 > .colspan-3 {
    width: 100%;
  }
  .cols-sm-3 > .colspan-2 {
    width: 66.666666666667%;
  }
  .cols-sm-2 > .colspan-10,
  .cols-sm-2 > .colspan-9,
  .cols-sm-2 > .colspan-8,
  .cols-sm-2 > .colspan-7,
  .cols-sm-2 > .colspan-6,
  .cols-sm-2 > .colspan-5,
  .cols-sm-2 > .colspan-4,
  .cols-sm-2 > .colspan-3,
  .cols-sm-2 > .colspan-2,
  .cols-sm-1 > .colspan-10,
  .cols-sm-1 > .colspan-9,
  .cols-sm-1 > .colspan-8,
  .cols-sm-1 > .colspan-7,
  .cols-sm-1 > .colspan-6,
  .cols-sm-1 > .colspan-5,
  .cols-sm-1 > .colspan-4,
  .cols-sm-1 > .colspan-3,
  .cols-sm-1 > .colspan-2 {
    width: 100%;
  }
}
/*****************/
.caret,
.glyph {
  display: inline-block;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 0 !important;
  vertical-align: middle;
  opacity: 0.7;
  transform: scale(1, 1);
  margin-top: -3px;
}
.caret:before,
.glyph:before {
  content: "";
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.glyph-checkbox,
.glyph-checkbox-checked {
  border: solid 1px;
  opacity: 0.8;
  border-radius: 1px;
}
.glyph-checkbox:before,
input + .glyph-checkbox:before,
input + .btn > .glyph-checkbox:before {
  position: absolute;
  width: 10px;
  height: 6px;
  border-left: solid 3px;
  border-bottom: solid 3px;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
  top: 2px;
  left: 1px;
  opacity: 0;
}
.glyph-checkbox-checked:before,
input:checked + .glyph-checkbox:before {
  opacity: 0.8;
}
.glyph-check:before {
  width: 12px;
  height: 7px;
  border-left: solid 3px;
  border-bottom: solid 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 3px;
}
.glyph-chevron-up:before,
.glyph-chevron-down:before,
.glyph-chevron-left:before,
.glyph-chevron-right:before {
  width: 9px;
  height: 9px;
  border-left: solid 3px;
  border-bottom: solid 3px;
}
.glyph-chevron-left:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 3px;
  left: 1px;
}
.glyph-chevron-right:before {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 3px;
  left: -1px;
}
.glyph-chevron-down:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 1px;
}
.glyph-chevron-up:before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 5px;
}
.glyph-radio {
  border: solid 2px;
  border-radius: 100%;
  width: auto;
  height: auto;
}
.glyph-radio:before,
input + .glyph-radio:before {
  border-radius: 100%;
  height: 6px;
  width: 6px;
  margin: 2px;
  border: solid 3px;
  opacity: 0;
}
.glyph-radio-checked:before,
input:checked + .glyph-radio:before {
  opacity: 0.7;
}
.caret:before,
[class*="glyph-arrow"]:before {
  height: 0px;
  width: 0px;
  border: solid 5px transparent;
}
.glyph-arrow-left:before {
  border-right: solid 5px;
  top: 2px;
  left: -3px;
}
.glyph-arrow-right:before {
  border-left: solid 5px;
  top: 2px;
  left: 3px;
}
.glyph-arrow-up:before {
  border-bottom: solid 5px;
  top: 0px;
}
.caret:before,
.glyph-arrow-down:before {
  border-top: solid 5px;
  top: 5px;
}
.list > *:hover .glyph,
input:checked + .glyph,
input:checked + .btn > .glyph,
label:hover .glyph,
label:hover input:checked + .glyph:before,
.btn:hover .glyph {
  opacity: 1;
}
.progressbar {
  overflow: hidden;
  xposition: relative;
  font-size: 12px;
  line-height: normal;
}
.progressbar:after {
  xcontent: ".";
  xvisibility: hidden;
}
.progressbar-meter {
  width: 0%;
  xposition: absolute;
  xleft: 0;
  xbottom: 0;
  xheight: 100%;
  padding: 2px 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  white-space: nowrap;
  xfloat: left;
  xmax-height: 1em;
}
.progressbar-meter:before {
  content: "---";
  visibility: hidden;
}
.popup {
  display: none;
  position: absolute;
  min-width: 160px;
  text-align: left;
  border-radius: 0px;
}
ul.popup {
  max-width: 400px;
}
.popup > .popup-content {
  margin: 15px;
}
.popup,
.popup > .popupstem:after {
  border: solid 1px;
}
.popup.fade {
  display: block !important;
}
.popup-content {
  margin: 15px;
}
ul.popup li > span {
  cursor: default;
}
ul.popup {
  padding: 0px 0;
}
ul.popup li {
  list-style-type: none;
  display: block;
  position: relative;
}
ul.popup li > a,
ul.popup li > span {
  padding: 8px 12px;
  xpadding-right: 42px;
  display: block;
  white-space: nowrap;
}
ul.popup li > a:hover {
  text-decoration: none;
}
ul.popup li.divider {
  height: 1px;
  padding: 0;
  margin: 5px 0;
}
ul.popup li.menuitem-group-header {
  padding: 4px 12px;
  font-size: 13px;
}
ul.popup li > div,
ul.popup ul {
  display: none;
  left: 100%;
  margin: 0;
  position: absolute !important;
}
ul.popup li:hover > div,
ul.popup li:hover > ul {
  top: 0;
  display: inline-block;
}
.popupstem {
  overflow: hidden;
  position: absolute;
}
.popupstem:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid;
}
.large-stem > .popupstem:after {
  width: 15px;
  height: 15px;
}
.large-stem > .popupstem.t,
.large-stem > .popupstem.b {
  width: 21px;
  height: 12px;
}
.large-stem > .popupstem.l,
.large-stem > .popupstem.r {
  width: 12px;
  height: 21px;
}
.large-stem > .popupstem.l {
  left: 100%;
  top: 50%;
}
.large-stem > .popupstem.r {
  left: -12px;
  top: 50%;
}
.large-stem > .popupstem.b {
  top: -12px;
}
.large-stem > .popupstem.t {
  left: 50%;
  top: 100%;
}
.large-stem > .popupstem.b:after {
  left: 3px;
  top: 4px;
}
.large-stem > .popupstem.t:after {
  left: 3px;
  top: -8px;
}
.large-stem > .popupstem.r:after {
  left: 5px;
  top: 3px;
}
.large-stem > .popupstem.l:after {
  left: -8px;
  top: 3px;
}
.small-stem > .popupstem:after {
  width: 10px;
  height: 10px;
}
.small-stem > .popupstem.t,
.small-stem > .popupstem.b {
  width: 14px;
  height: 7px;
}
.small-stem > .popupstem.l,
.small-stem > .popupstem.r {
  width: 7px;
  height: 14px;
}
.small-stem > .popupstem.l {
  left: 100%;
  top: 50%;
}
.small-stem > .popupstem.r {
  left: -7px;
  top: 50%;
}
.small-stem > .popupstem.b {
  top: -7px;
}
.small-stem > .popupstem.t {
  left: 50%;
  top: 100%;
}
.small-stem > .popupstem.b:after {
  left: 2px;
  top: 2px;
}
.small-stem > .popupstem.t:after {
  left: 2px;
  top: -5px;
}
.small-stem > .popupstem.r:after {
  left: 2px;
  top: 2px;
}
.small-stem > .popupstem.l:after {
  left: -5px;
  top: 2px;
}
.popup > li.menu-item-parent > span,
.popup > li.menu-item-parent > a {
  padding-right: 40px !important;
  position: relative;
}
.popup > li.menu-item-parent > span:after,
.popup > li.menu-item-parent > a:after {
  content: "";
  display: block;
  width: 1px;
  height: 1px;
  border: solid 5px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.popup li .glyph-arrow-right {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.popup {
  z-index: 5000;
}
.tooltip {
  z-index: 9000 !important;
}
/***************************************
TOOLTIP : DEFAULT THEME
***************************************/
.tooltip {
  padding: 5px 8px;
  min-width: 20px;
  display: none;
  pointer-events: none;
}
.tooltip,
.tooltip > .popupstem:after {
  border: solid 1px;
}
.tooltip,
.tooltip * {
  font-size: 12px;
}
/*******************/
ul.menubar,
ul.menubar ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.menubar > li {
  float: left;
  display: block;
}
ul.menubar li {
  position: relative;
  display: block;
}
ul.menubar > li a:hover {
  text-decoration: none;
}
ul.menubar > li > a {
  text-align: center;
  white-space: nowrap;
}
ul.menubar li > * {
  white-space: nowrap;
  display: block;
}
ul.menubar li ul {
  position: absolute;
  display: none;
}
ul.menubar li:hover > ul {
  display: block;
}
ul.menubar > li > ul {
  left: 0px;
  top: 100%;
}
ul.menubar > li > ul ul {
  left: 100%;
  top: -1px;
}
.show-md,
show-sm {
  display: none;
}
/******************************
TABLE
*******************************/
table.table {
  line-height: normal;
  width: 100%;
}
table.table > tfoot > tr > *,
table.table > tbody > tr > *,
table.table > thead > tr > th {
  padding: 8px;
}
table.table > thead > tr > th {
  font-weight: bold;
}
/************************************/
table.table.border-outer {
  border-width: 1px;
  border-style: solid;
}
table.table.border-cell-h > tfoot > tr > *,
table.table.border-cell-h > tbody > tr > * {
  border-top-width: 1px ;
  border-top-style: solid;
}
table.table.border-cell-v > tfoot > tr > *,
table.table.border-cell-v > tbody > tr > *,
table.table.border-cell-v > thead > tr > * {
  border-left-width: 1px;
  border-left-style: solid;
}
table.table.border-cell-v > thead > tr > th:first-child,
table.table.border-cell-v > tbody > tr > td:first-child {
  border-left: 0;
}
table.table.border-cell > tfoot > tr > *,
table.table.border-cell > tbody > tr > *,
table.table.border-cell > thead > tr > * {
  border-width: 1px;
  border-style: solid;
}
.show-lg,
.show-md,
.show-sm {
  display: none;
}
@media (max-width: 1024px) {
  .show-lg {
    display: inherit;
  }
  .hide-lg {
    display: none !important;
  }
  .block-lg {
    display: block !important;
    float: none !important;
    width: 100%  !important;
  }
  table.block-lg > tbody,
  table.block-lg > thead,
  table.block-lg tfood {
    display: block;
  }
  table.block-lg > thead > tr,
  table.block-lg > thead > tr > *,
  table.block-lg > tbody > tr,
  table.block-lg > tbody > tr > * {
    display: block;
    width: 100%  !important;
    height: auto !important;
  }
  .no-padding-lg {
    padding: 0 !important;
  }
  .no-border-lg {
    border: 0 !important;
  }
  .no-margin-lg {
    margin: 0 !important;
  }
  .text-center-lg {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .show-md {
    display: inherit;
  }
  .hide-md {
    display: none !important;
  }
  .block-md {
    display: block !important;
    float: none !important;
    width: 100%  !important;
  }
  table.block-md > tbody,
  table.block-md > thead,
  table.block-md tfood {
    display: block;
  }
  table.block-md > thead > tr,
  table.block-md > thead > tr > *,
  table.block-md > tbody > tr,
  table.block-md > tbody > tr > * {
    display: block;
    width: auto  !important;
    height: auto !important;
  }
  .no-padding-md {
    padding: 0 !important;
  }
  .no-border-md {
    border: 0 !important;
  }
  .no-margin-md {
    margin: 0 !important;
  }
  .text-center-md {
    text-align: center;
  }
}
@media (max-width: 520px) {
  .show-sm {
    display: inherit;
  }
  .hide-sm {
    display: none !important;
  }
  .block-sm {
    display: block !important;
    float: none !important;
    width: 100%  !important;
  }
  table.block-sm > thead > tr,
  table.block-sm > thead > tr > *,
  table.block-sm > tbody > tr,
  table.block-sm > tbody > tr > * {
    display: block;
    width: 100%  !important;
    height: auto !important;
  }
  .no-padding-sm {
    padding: 0 !important;
  }
  .no-border-sm {
    border: 0 !important;
  }
  .no-margin-sm {
    margin: 0 !important;
  }
  .text-center-sm {
    text-align: center;
  }
}
input.block,
.button.block,
textarea.block,
select.block {
  width: 100%;
}
.button,
.form-element {
  padding: 8px 12px;
  vertical-align: middle;
  border: solid 1px;
  border-radius: 2px;
  outline: none;
}
.padding-base {
  padding: 8px 12px;
}
.padding-base-vertical {
  padding: 8px 0;
}
.padding-base-horizontal {
  padding: 0 12px;
}
.button.large,
.form-element.large {
  padding: 12px 14px;
}
.button.small,
.form-element.small {
  padding: 5px 10px;
}
.select {
  position: relative;
  display: inline-block;
  xbackground-color: #fff;
}
.select select {
  display: block;
  width: 100%;
}
.select select + .button-caret {
  position: absolute;
  xbackground-color: inherit;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: 28px;
  pointer-events: none;
  text-align: center;
  border-radius: 0 1px 1px 0;
}
.select select + .button-caret:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0px;
  vertical-align: middle;
}
.select select + .button-caret .caret {
  vertical-align: middle;
  position: relative;
  top: 2px;
  left: 2px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group > * {
  display: table-cell;
  position: relative;
  border-radius: 0;
}
.input-group > .form-element {
  position: relative;
  width: 100%;
}
.input-group > :not(.form-element) {
  padding: 0 12px;
  border: solid 1px;
  width: 1%;
  white-space: nowrap;
}
.input-group > .input-group-button {
  white-space: nowrap;
  border: 0;
  padding: 0;
  padding-right: -1px;
}
.input-group-button > .button {
  border-radius: inherit;
  margin-left: -1px;
  position: relative;
  left: 1px;
  z-index: 1;
}
.input-group > .form-element + .input-group-button > .button {
  left: 0;
}
.input-group > :not(.form-element) {
  border-right-width: 0;
}
.input-group > .form-element + :not(.form-element) {
  border-left-width: 0;
}
.input-group > *:first-child {
  border-radius: 2px 0 0 2px;
  border-left-width: 1px;
}
.input-group > *:last-child {
  border-radius: 0 2px 2px 0;
  border-right-width: 1px;
}
.input-group > .form-element:focus {
  z-index: 2;
}
.form > fieldset {
  border: 0;
  border-top: solid 1px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.form > fieldset legend {
  padding-right: 6px;
  font-weight: bold;
}
.form > fieldset > label,
.form > label {
  margin-bottom: 6px;
  display: block;
}
.form > fieldset > div,
.form > div {
  margin-bottom: 1em;
}
.form .checkbox > label,
.form .radio > label {
  display: block;
}
.form .field-info {
  margin-top: 3px;
  font-size: 13px;
}
.form .divider {
  padding-top: 8px;
  padding-bottom: 15px;
  margin-bottom: 0;
}
.checkbox input,
.radio input {
  display: none;
}
table.form {
  width: 100%;
  max-width: 100%;
}
table.form td,
table.form th {
  padding-bottom: 1em;
  vertical-align: top;
}
table.form tr > th {
  white-space: nowrap;
  padding-right: 10px;
}
table.form tr > td {
  width: 100%;
}
table.form th label {
  display: block;
  line-height: normal;
  padding: 8px 0;
}
table.form .divider {
  padding-top: 8px;
  padding-bottom: 25px;
}
.divider:before {
  content: "";
  display: block;
  height: 1px;
}
.button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  box-shadow: none;
}
.form .form-element.block + .form-element.block,
.form .button.block + .button.block,
.form .button.block + .form-element.block,
.form .form-element.block + .button.block {
  margin-top: 6px;
}
@media (max-width: 1024px) {
  table.form.block-lg th {
    padding-bottom: 6px;
  }
  table.form.block-lg th label {
    display: inline;
    padding: 0;
  }
  .form .form-element.block-lg + .form-element,
  .form .button.block-lg + .button,
  .form .button.block-lg + .form-element,
  .form .form-element.block-lg + .button,
  .form .form-element + .form-element.block-lg,
  .form .button + .button.block-lg,
  .form .button + .form-element.block-lg,
  .form .form-element + .button.block-lg {
    margin-top: 6px;
  }
}
@media (max-width: 768px) {
  table.form.block-md th {
    padding-bottom: 6px;
  }
  table.form.block-md th label {
    display: inline;
    padding: 0;
  }
  .form .form-element.block-md + .form-element,
  .form .button.block-md + .button,
  .form .button.block-md + .form-element,
  .form .form-element.block-md + .button,
  .form .form-element + .form-element.block-md,
  .form .button + .button.block-md,
  .form .button + .form-element.block-md,
  .form .form-element + .button.block-md {
    margin-top: 6px;
  }
}
@media (max-width: 520px) {
  table.form.block-sm th {
    padding-bottom: 0.5em;
  }
  table.form.block-sm th label {
    display: inline;
    padding: 0;
  }
  .form .form-element.block-sm + .form-element,
  .form .button.block-sm + .button,
  .form .button.block-sm + .form-element,
  .form .form-element.block-sm + .button,
  .form .form-element + .form-element.block-sm,
  .form .button + .button.block-sm,
  .form .button + .form-element.block-sm,
  .form .form-element + .button.block-sm {
    margin-top: 6px;
  }
}
.button {
  border: 0;
}
.button-group {
  display: inline-block;
  position: relative;
}
.button-group:before,
.button-group:after {
  content: " ";
  display: table;
}
.button-group:after {
  clear: both;
}
.button-group:before,
.button-group:after {
  content: " ";
  display: table;
}
.button-group:after {
  clear: both;
}
.button-group > * {
  float: left;
  margin-left: -1px;
  border-radius: 0;
}
.button-group > *:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.button-group > *:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.button-group > * .button {
  border-radius: inherit;
}
.button-group-vertical > label > input,
.button-group > label > input {
  display: none;
}
.button-group input:checked + .button {
  z-index: 1;
  position: relative;
}
.button-group-vertical {
  position: relative;
}
.button-group-vertical > * {
  display: block;
  width: 100%;
  margin-top: -1px;
  border-radius: 0;
}
.button-group-vertical > *:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.button-group-vertical > *:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.button-group-vertical > * .button {
  display: block;
  width: 100%;
  border-radius: inherit;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  xdisplay: none;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal.modal-top-layer {
  xbackground-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-align-wrapper {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  width: 0px;
}
.modal-box {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: left;
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.65);
  -o-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.65);
  border-radius: 3px;
}
.modal-box > * {
  position: absolute;
  left: 15px;
  right: 15px;
}
.modal-caption {
  display: none;
  top: 0;
  height: 30px;
}
.modal-text {
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 75%;
  margin-top: 15px;
}
.modal-client {
  bottom: 15px;
  top: 15px;
  xbackground-color: #99cc00;
}
.modal-content {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-footer {
  position: absolute;
  xheight: 70px;
  xline-height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 15px;
  text-align: right;
  border-top: solid 1px #ccc;
  xbackground-color: #cccccc;
}
.modal-box.modal-hascaption .modal-caption {
  display: block;
}
.modal-box.modal-hascaption .modal-client {
  top: 45px;
}
.modal-close-button {
  text-align: center;
  font-size: 26px;
  font-weight: normal;
  position: absolute;
}
.modal-close-button {
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  border-radius: 0 0 4px 4px;
  color: #fff;
  background-color: #666;
  line-height: 1.2;
}
.modal-close-button:hover {
  background-color: #333;
}
.pager,
[data-role=nested],
[data-role=pager],
[data-role=carousel] {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}
.pager > *,
[data-role=nested] > *,
[data-role=pager] > *,
[data-role=carousel] > * {
  visibility: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  
  -webkit-transform: translate3d(0, 0, 0) rotate(0) scale(1);
  -moz-transform: translate3d(0, 0, 0) rotate(0) scale(1);
  -ms-transform: translate3d(0, 0, 0) rotate(0) scale(1);
  -o-transform: translate3d(0, 0, 0) rotate(0) scale(1);
  transform: translate3d(0, 0, 0) rotate(0) scale(1);
}
.pager-content-fit-parent > * {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/**
[data-role=nested] > .current ,
[data-role=nested] > .surface,
[data-role=pager] > .current,
[data-role=carousel] > .current,
[data-role=pager] > .surface,
[data-role=carousel] > .surface,
*/

.pager   .pager{
	display:none ;
}
.pager > .current,
.pager > .surface {
  z-index: 1;
  visibility: visible;
}

.pager > .current .pager,
.pager > .surface .pager {
  display:block;
}

.pager > * > img {
  width: 100%;
  display: block;
}
.in,
.out {
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-fill-mode: both;
  -o-animation-timing-function: ease-in-out;
  -ms-animation-fill-mode: both;
  -ms-animation-timing-function: ease-in-out;
}
.in {
  z-index: 1;
}
.out {
  z-index: 0;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
strong,
b,
.bold {
  font-weight: 600;
}
.em,
.i,
.italic {
  font-style: italic;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.large {
  font-size: 16px;
}
.small {
  font-size: 13px;
}
.smaller {
  font-size: 11px;
}
/********* Responsive ********/
.responsive {
  max-width: 100%;
}
div.responsive {
  overflow: auto;
}
/************************/
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.no-border {
  border: 0 !important;
}
.relative {
  position: relative;
}
span.relative {
  display: inline-block;
}
.nowrap {
  white-space: nowrap;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
/***************************************
Visual Effect
***************************************/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.in {
  opacity: 1 !important;
}
.green {
  color: #090 !important;
}
.drakgreen {
  color: #060 !important;
}
.orange {
  color: #F60 !important;
}
.orangered,
.darkorange {
  color: #F30 !important;
}
.red {
  color: #FF0000 !important;
}
.darkred {
  color: #990000 !important;
}
.rounded {
  border-radius: 2000px;
}
.rounded-left {
  border-radius: 2000px 0 0 2000px;
}
.rounded-right {
  border-radius: 0 2000px 2000px 0;
}
.rounded-top {
  border-radius: 2000px 2000px 0 0;
}
.rounded-bottom {
  border-radius: 0 0 2000px 2000px;
}
/***************************************
_progress_overlay
***************************************/
#_progress_overlay {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#_progress_overlay.progresslabel-overlay {
  background-color: rgba(0, 0, 0, 0.1);
}
#_progress_overlay.progressbar-overlay {
  background-color: rgba(255, 255, 255, 0.9);
}
#_progress_overlay.progressbar-overlay .progressbar-wrapper {
  width: 400px;
  max-width: 80%;
  margin: auto;
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
#_progress_overlay.progressbar-overlay .progressbar-label {
  margin-bottom: 5px;
}
hr {
  background-color: #c8c8c8;
}
/*********************************************
/**** PROGRESS BAR
/********************************************/
.progressbar {
  border-color: #1e70ea;
}
.progressbar > .progressbar-meter {
  background-color: #1e70ea;
}
.progressbar.success {
  border-color: #1ab009;
}
.progressbar.success > .progressbar-meter {
  background-color: #1ab009;
}
.progressbar.warning {
  border-color: #feae1b;
}
.progressbar.warning > .progressbar-meter {
  background-color: #feae1b;
}
.progressbar.danger {
  border-color: #e60000;
}
.progressbar.danger > .progressbar-meter {
  background-color: #e60000;
}
.progressbar {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #f8f8f8;
}
/*********************************************
/**** FORM
/********************************************/
.divider:before {
  background-color: #c8c8c8;
}
.form fieldset {
  border-color: #c8c8c8;
}
.input-group > :not(.form-element) {
  border-color: #b2b2b2;
  background-color: #f8f8f8;
}
/*********************************************
/**** FORM ELEMENTS
/********************************************/
.field-info {
  color: #858585;
}
.form-element {
  border-color: #b2b2b2;
  background-color: #ffffff;
  color: #222222;
}
.focus,
.form-element:focus,
.form-element.border-focus {
  border-color: #cc9900;
}
.select select.form-element[disabled] + .button-caret,
.form-element[disabled] {
  opacity: 1;
  background-color: #f8f8f8;
  color: #858585;
}
/*********************************************
/**** VALIDATOR INVALID RESULT
/********************************************/
.form-element.warning {
  border-color: #d2921c;
  background-color: #fff9ef;
}
.form-element.invalid,
.form-element.danger {
  border-color: #bf0707;
  background-color: #fdeded;
}
.form-element.success {
  border-color: #1c940e;
  background-color: #eff9ee;
}
.form-element.info {
  border-color: #1ea6c3;
  background-color: #effbfe;
}
/************************/
.select select + .button-caret {
  background-color: #ffffff;
}
/*********************************************
/**** COLOR
/********************************************/
.text-gray {
  color: #858585;
}
.text-danger,
.text-invalid {
  color: #bf0707;
}
/*********************************************
/**** POPUP
/********************************************/
ul.menubar ul,
.popup,
.popup > .popupstem:after {
  border-color: #b2b2b2;
  background-color: #ffffff;
}
ul.menubar ul,
.popup {
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.15);
  color: #222222;
}
ul.menubar ul li > a,
ul.popup li > a {
  color: #222222;
}
ul.menubar ul li:hover > a,
ul.popup li:hover > a,
ul.menubar ul li:hover > span,
ul.popup li:hover > span {
  color: #222222;
  background-color: #f8f8f8;
}
ul.menubar ul li.divider,
ul.popup li.divider {
  background-color: #b2b2b2;
}
ul.menubar ul li.menuitem-group-header,
ul.popup li.menuitem-group-header {
  color: #858585;
}
/*********************************************
/**** tooltip
/********************************************/
.tooltip {
  border-radius: 3px;
  color: #ffffff;
}
.tooltip,
.tooltip > .popupstem:after {
  border-color: #222222;
  background-color: #222222;
}
/*********************************************
/**** ALERT
/********************************************/
.alert.warning {
  border-color: #d2921c;
  background-color: #fff9ef;
}
.alert.success {
  border-color: #1c940e;
  background-color: #eff9ee;
}
.alert.danger {
  border-color: #bf0707;
  background-color: #fdeded;
}
.alert.info {
  border-color: #1ea6c3;
  background-color: #effbfe;
}
/*********************************************
/**** TABLE
/********************************************/
table.table th,
table.table td {
  border-color: #c8c8c8;
}
table.table {
  border-color: #c8c8c8;
}
.table-striped > div:nth-child(2n+1) > *,
.table-striped > li :nth-child(2n+1) > *,
.table-striped > tbody > tr:nth-child(2n+1) > * {
  background-color: #f8f8f8;
}
.table-hover > tbody > tr:hover {
  background-color: #f8f8f8;
}
/*********************************************
/**** BUTTON BASE
/********************************************/
.button:active,
.button.active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
/***** BUTTON-DEFAULT ****/
.button {
  border: solid 1px;
}
/***** BUTTON-PRIMARY ****/
.button-group input:checked + .button.default,
.button.default.selected,
.button.primary {
  color: #e9f1fd;
  background-color: #1e70ea;
  border-color: #1566df;
}
.button-group input:checked + .button.default:hover,
.button.default.selected:hover,
.button.primary:hover,
.button-group input:checked + .button.default.active,
.button.default.selected.active,
.button.primary.active {
  background-color: #1464da;
  border-color: #1462d5;
}
.button-group input:checked + .button.default:active,
.button.default.selected:active,
.button.primary:active,
.button-group input:checked + .button.default.active:hover,
.button.default.selected.active:hover,
.button.primary.active:hover {
  background-color: #135dcc;
  border-color: #135bc7;
}
.button.default {
  color: #222222;
  background-color: #ffffff;
  border-color: #b2b2b2;
}
.button.default:hover,
.button.default.active {
  background-color: #f2f2f2;
}
.button.default:active,
.button.default.active:hover {
  background-color: #ebebeb;
}
/***** BUTTON-INFO ****/
.button.warning {
  color: #332305;
  background-color: #feae1b;
  border-color: #fea707;
}
.button.warning:hover,
.button.warning.active {
  background-color: #fea502;
  border-color: #f9a201;
}
.button.warning:active,
.button.warning.active:hover {
  background-color: #ef9b01;
  border-color: #ea9801;
}
/***** BUTTON-INFO ****/
.button.success {
  color: #e8f7e6;
  background-color: #1ab009;
  border-color: #179d08;
}
.button.success:hover,
.button.success.active {
  background-color: #169808;
  border-color: #169308;
}
.button.success:active,
.button.success.active:hover {
  background-color: #148907;
  border-color: #148407;
}
/***** BUTTON-INFO ****/
.button.danger {
  color: #fde6e6;
  background-color: #e60000;
  border-color: #d20000;
}
.button.danger:hover,
.button.danger.active {
  background-color: #cd0000;
  border-color: #c70000;
}
.button.danger:active,
.button.danger.active:hover {
  background-color: #bd0000;
  border-color: #b80000;
}
/***** BUTTON-INFO ****/
.button.info {
  color: #06282f;
  background-color: #1dc7eb;
  border-color: #14bce0;
}
.button.info:hover,
.button.info.active {
  background-color: #13b8db;
  border-color: #13b4d6;
}
.button.info:active,
.button.info.active:hover {
  background-color: #12accd;
  border-color: #12a8c8;
}
.mce-content-body {
  margin: 20px;
}
.mce-content-body img.float-left {
  margin-right: 10px;
  margin-botton: 10px;
}




.mce-content-body {
  margin: 20px;
}
.mce-content-body img.float-left {
  margin-right: 10px;
  margin-botton: 10px;
  max-width:100%;
}


.mce-content-body h1 {
	font-size:28px;
}
.mce-content-body h2
{
	font-size:20px;
}
.mce-content-body h3 {
	font-size:18px;
}
.mce-content-body h4 {
	font-size:16px;
}


.post-image{
	margin-bottom:15px;
	height:auto !important;
}
.image-caption{
	display:inline-block;
	margin-bottom:15px;
	width:auto !important;
	height:auto !important;
}
.image-caption.float-left{
	margin-right:15px;
}
.image-caption img{
	margin:0;
	height:auto !important;
}
.image-caption-text{
	font-size:12px;
	color:#666;
	margin:0;
}



